.*/*
!.github/*
!.vscode/settings.json
.idea/*
os/target/*
os/.idea/*
os/src/link_app.S
os/last-*
os/Cargo.lock
os/.gdb_history
user/target/*
user/.idea/*
user/Cargo.lock
tools/
pushall.sh
.vscode/*.log
*.bak
testcases/build
**/target/*
**/*.map
testcases/riscv64/*
testcases/loongarch64/*
**/disasm_la.s
**/disasm_rv.s
**/user.s
**/sdcard-*.img
test-riscv/**
test-la/
**/os.log
testcases/**
testsuits/**
qemu.log
kernel-rv
kernel-la
**/linker_*.lds
testsuits/**
**/*.txt